body {
    background-color: rgb(250, 248, 215); 
    margin: 1oopx;
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;
    text-align: center; 
} 

h1{
    font-family: 'Times New Roman', Times, serif;
}